[submodule "tests/modules/stdlib"]
	path = tests/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "tests/modules/ldap"]
	path = tests/modules/ldap
	url = https://github.com/mojolingo/puppet-ldap.git
	branch = feature/rtc
